html
  head
    title= title
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/jquery-ui.min.css')
    link(rel='stylesheet', href='css/jquery-ui.theme.min.css')
    link(rel='stylesheet', href='css/ui.jqgrid.css')
    link(rel='stylesheet', href='css/ui.jqgrid-bootstrap-ui.css')
    link(rel='stylesheet', href='css/ui.jqgrid-bootstrap.css')
    link(rel='stylesheet', href='css/jquery-ui-timepicker-addon.min.css')
    link(rel='stylesheet', href='css/style.css')
  body
    div.container
      include nav.pug
      div.jumbotron
        h2 Users
        table#users
        div#usersPager
      div.jumbotron
        h2 Roles
        table#roles
        div#rolesPager
script var permissions = "#{permissions}".split(',');
script(src='js/jquery.js')
script(src='js/grid.locale-en.js')
script(src='js/jquery.jqGrid.min.js')
script(src='js/bootstrap.min.js')
script(src='js/jquery-ui.min.js')
script(src='js/jquery-ui-timepicker-addon.min.js')
script(src='js/config.js')
