html
  head
    title= title
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/jquery.dataTables.min.css')
    link(rel='stylesheet', href='css/image-picker.css')
    link(rel='stylesheet', href='css/jsgrid.min.css')
    link(rel='stylesheet', href='css/jsgrid-theme.min.css')
    link(rel='stylesheet', href='css/jquery-ui.min.css')
    link(rel='stylesheet', href='css/jquery-ui.theme.min.css')
    link(rel='stylesheet', href='css/jquery-ui-timepicker-addon.min.css')
    link(rel='stylesheet', href='css/nouislider.min.css')
    link(rel='stylesheet', href='css/style.css')
  body
    div.container
      include nav.pug
      div.jumbotron.diagram_jumbotron#diagram_jumbotron(style='height:700px')
        div.canvas#diagram
          span.message#message
          canvas#background
          canvas#canvas
          div#zoom-buttons
            button.zoomIn#zoomIn(onclick='zoomIn()') +
            button.zoomOut#zoomOut(onclick='zoomOut()') -
            button.cancelLink#cancelLink(onclick='cancelLink()') Cancel Link
        div.sidebar
          div.properties-nav#properties-nav
            div.nav-button#toolsButton(onclick='toggleToolbar("tools")') T<br>O<br>O<br>L<br>S
            div.nav-button#tasksButton(onclick='toggleToolbar("tasks")') T<br>O<br>O<br>L<br>S
          div.properties#properties
            span.propTitle#propTitle Edit Object
            button.propButton.btn.btn-success#newObjectButton(type='button' onclick="newObject()") New!
            form#propForm
              input(type="hidden", name="id")#propID
              input(type="hidden", name="type")#propType
              div.form-group#propNameGroup
                label Name
                textarea(name="name" onchange="updatePropName(this.value)").form-control#propName
              div.form-group#propColorGroup
                label Color
                div.colors
                    input(type="color", name="fillcolor" onchange="updatePropFillColor(this.value)" value="#017bbb").form-control.propColor#propFillColor
                    input(type="color", name="strokecolor" onchange="updatePropStrokeColor(this.value)" value="#017bbb").form-control.propColor#propStrokeColor
              div.form-group#propObjectGroup
                label Icon
                select.image-picker#propIcon
                  each icon in icons
                    option(data-img-src="images/icons/" + icon, data-img-class="first", value=icon) icon
                  each shape in shapes
                    option(data-img-src="images/shapes/" + shape, data-img-class="first", value=shape) shape
              div.form-group#moveObject
                  button.propButton.btn.btn-default(type='button' onclick="moveUp()") Up
                  button.propButton.btn.btn-default(type='button' onclick="moveDown()") Down
                  button.propButton.btn.btn-default(type='button' onclick="moveToFront()") Front
                  button.propButton.btn.btn-default(type='button' onclick="moveToBack()") Back
              div.form-group#makeObject
                  button.propButton.btn.btn-primary#insertObjectButton(type='button' onclick="insertObject()") Insert
                  button.propButton.btn.btn-info#editDetailsButton(type='button' onclick="editDetails()") Details
                  button.propButton.btn.btn-danger#deleteObjectButton(type='button' onclick="deleteObject()") Delete
                  button.btn.btn-default(type='button' onclick="closeProperties()") Cancel
      div.jumbotron
        div#slider
        div#events
  c2#c2
  script(src='js/jquery.js')
  script(src='js/jsgrid.min.js')
  script(src='js/bootstrap.min.js')
  script(src='js/image-picker.min.js')
  script(src='js/fabric.min.js')
  script(src='js/jquery-ui.min.js')
  script(src='js/jquery-ui-timepicker-addon.min.js')
  script(src='js/nouislider.min.js')
  script(src='js/ElementQueries.js')
  script(src='js/json-patch-duplex.min.js')
  script(src='js/sharedbclient.js')
  script(src='js/cop.js')
