html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/jquery.dataTables.min.css')
    link(rel='stylesheet', href='/css/image-picker.css')
    link(rel='stylesheet', href='/css/jsgrid.min.css')
    link(rel='stylesheet', href='/css/jsgrid-theme.min.css')
    link(rel='stylesheet', href='/css/jquery-ui.min.css')
    link(rel='stylesheet', href='/css/jquery-ui.theme.min.css')
    link(rel='stylesheet', href='/css/jquery-ui-timepicker-addon.min.css')
    link(rel='stylesheet', href='/css/nouislider.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    div.container
      include nav.pug
      div.modal.fade#modal(role='dialog')
        div.modal-dialog
          div.modal-content
            div.modal-header
              button.close(type='button' data-dismiss='modal') &times;
              h4.modal-title Attention
            div.modal-body
              p Connection lost.
            div.modal-footer
              button.btn.btn-default(type='button' data-dismiss='modal') Close
      div.jumbotron.resizable.diagram_jumbotron(style='height:500px')
        div.canvas#diagram
          span.message#message
          canvas#canvas
          button.cancelLink#cancelLink(onclick='cancelLink()') Cancel Link
        div.sidebar
          div.properties-nav#properties-nav
            div.nav-button#nodesButton(onclick='toggleProperties("node")') N<br>o<br>d<br>e<br>s
            div.nav-button#shapesButton(onclick='toggleProperties("shape")') S<br>h<br>a<br>p<br>e
            div.nav-button#linksButton(onclick='toggleProperties("link")') L<br>i<br>n<br>k<br>s
          div.properties#properties
            span.propTitle#propTitle Edit Node
            form#propForm
              input(type="hidden", name="id")#propID
              input(type="hidden", name="type")#propType
              div.form-group#propNameGroup
                label Name
                input(type="text", name="name" onchange="updatePropName(this.value)").form-control#propName
              div.form-group#propAddressGroup
                label Address
                input(type="text", name="address" onchange="updatePropAddress(this.value)").form-control#propAddress
              div.form-group#propColorGroup
                label Color
                input(type="color", name="color" onchange="updatePropColor(this.value)" value="#017bbb").form-control.propColor#propColor
              div.form-group#propShapeGroup
                label Shape
                select.image-picker#propShape
                  each shape in shapes
                    option(data-img-src="/images/shapes/" + shape, data-img-class="first", value=shape) shape
              div.form-group#propIconGroup
                label Icon
                select.image-picker#propIcon
                  each icon in icons
                    option(data-img-src="/images/icons/" + icon, data-img-class="first", value=icon) icon
              div.form-group#makeObject
                  button.propButton#insertObjectButton(type='button' onclick="insertObject()") Insert
                  button.propButton#insertLinkButton(type='button' onclick="insertLink()") Insert
                  button.propButton#deleteNodeButton(type='button' onclick="deleteObject()") Delete Node
                  button(type='button' onclick="closeProperties()") Cancel
      div.jumbotron
        div#slider
      div.jumbotron
        div#events
      button.btn.btn-info(data-toggle='modal' data-target='#modal' type='button') Open
script(src='/js/jquery.js')
script(src='/js/jsgrid.min.js')
script(src='/socket.io/socket.io.js')
script(src='/js/bootstrap.min.js')
script(src='/js/image-picker.min.js')
script(src='/js/fabric.min.js')
script(src='/js/jquery-ui.min.js')
script(src='/js/jquery-ui-timepicker-addon.min.js')
script(src='/js/nouislider.min.js')
script(src='/js/cop.js')
