html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/jquery.dataTables.min.css')
    link(rel='stylesheet', href='/css/image-picker.css')
    link(rel='stylesheet', href='/css/jsgrid.min.css')
    link(rel='stylesheet', href='/css/jsgrid-theme.min.css')
    link(rel='stylesheet', href='/css/jquery-ui.min.css')
    link(rel='stylesheet', href='/css/jquery-ui.theme.min.css')
    link(rel='stylesheet', href='/css/jquery-ui-timepicker-addon.min.css')
    link(rel='stylesheet', href='/css/nouislider.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    div.container
      include nav.pug
      div.jumbotron.resizable(style='height:500px')
        div.canvas#diagram
          span.message#message
          canvas#canvas
          button.cancelLink#cancelLink(onclick='cancelLink()') Cancel Link
        div.sidebar
          div.properties-nav#properties-nav
            div.nav-button#nodesButton(onclick='toggleProperties("node")') N
            div.nav-button#shapesButton(onclick='toggleProperties("shape")') S
            div.nav-button#linksButton(onclick='toggleProperties("link")') L
          div.properties#properties
            span.propTitle#propTitle Edit Node
            form#nodesForm
              input(type="hidden", name="id")#propID
              div.form-group#propNameGroup
                label Name:
                input(type="text", name="name" onchange="updatePropName(this.value)").form-control#propName
              div.form-group#propAddressGroup
                label Address:
                input(type="text", name="address" onchange="updatePropAddress(this.value)").form-control#propAddress
              div.form-group#propIconGroup
                label Icon:
                select.image-picker#propIcon
                  each icon in icons
                    option(data-img-src="/images/sm_icons/" + icon, data-img-class="first", value=icon) icon
              div.form-group#makeNode
                  button.insertNodeButton#insertNodeButton(type='button' onclick="insertNode()") Insert Node
                  button.deleteButton#deleteButton(type='button' onclick="deleteObject()") Delete Node
                  button(type='button' onclick="closeProperties()") Cancel
            form#shapesForm
            form#linksForm
      div.jumbotron
        div#slider
      div.jumbotron
        div#events
script(src='/js/jquery.js')
script(src='/js/jsgrid.min.js')
script(src='/socket.io/socket.io.js')
script(src='/js/bootstrap.min.js')
script(src='/js/image-picker.min.js')
script(src='/js/fabric.min.js')
script(src='/js/jquery-ui.min.js')
script(src='/js/jquery-ui-timepicker-addon.min.js')
script(src='/js/nouislider.min.js')
script(src='/js/cop.js')
