html
  head
    title= title
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/jquery.dataTables.min.css')
    link(rel='stylesheet', href='css/image-picker.css')
    link(rel='stylesheet', href='css/jsgrid.min.css')
    link(rel='stylesheet', href='css/jsgrid-theme.min.css')
    link(rel='stylesheet', href='css/jquery-ui.min.css')
    link(rel='stylesheet', href='css/jquery-ui.theme.min.css')
    link(rel='stylesheet', href='css/jquery-ui-timepicker-addon.min.css')
    link(rel='stylesheet', href='css/nouislider.min.css')
    link(rel='stylesheet', href='css/jstree.min.css')
    link(rel='stylesheet', href='css/files.css')
    link(rel='stylesheet', href='css/style.css')
  body
    div.container
      div.clockBar#clockBar
        div
        div.clock#est
        div.clock#utc
        div
      include nav.pug
      div.jumbotron.diagram_jumbotron#diagram_jumbotron(style='height:700px')
        div.canvas#diagram
          canvas#background
          canvas#canvas
          div#message
          div#zoom-buttons
            button.zoomIn#zoomIn(onclick='zoomIn()') +
            button.zoomOut#zoomOut(onclick='zoomOut()') -
            button.cancelLink#cancelLink(onclick='cancelLink()') Cancel Link
        div.toolbar#toolbar
          div.toolbar-nav#toolbar-nav
            div.nav-button#toolsButton(onclick='toggleToolbar("tools")') T<br>O<br>O<br>L<br>S
            div.nav-button#tasksButton(onclick='toggleToolbar("tasks")') T<br>A<br>S<br>K<br>S
            div.nav-button#notesButton(onclick='toggleToolbar("notes")') N<br>O<br>T<br>E<br>S
            div.nav-button#opsButton(onclick='toggleToolbar("ops")') O<br>P<br>S
            div.nav-button#filesButton(onclick='toggleToolbar("files")') F<br>I<br>L<br>E<br>S
          div.toolbar-body#toolbar-body
            div#opsForm
              div#ops
              button.btn.btn-primary#downloadOpnotes(onclick='downloadOpnotes()') Download
            div#notesForm
              textarea#notes
            div#tasksForm
              textarea.tasks#hostTasks
              textarea.tasks#networkTasks
              textarea.tasks#ccirs
            div#filesForm
              div#files
            form#toolsForm
              span.toolbarTitle#toolbarTitle Edit Object
              button.propButton.btn.btn-success#newObjectButton(type='button' onclick="newObject()") New!
              input(type="hidden", name="id")#propID
              input(type="hidden", name="type")#propType
              div.form-group#propNameGroup
                label Name
                textarea(name="name" onchange="updatePropName(this.value)").form-control#propName
              div.form-group#propColorGroup
                label Color
                div.colors
                    input(type="color", name="fillcolor" onchange="updatePropFillColor(this.value)" value="#017bbb").form-control.propColor#propFillColor
                    input(type="color", name="strokecolor" onchange="updatePropStrokeColor(this.value)" value="#017bbb").form-control.propColor#propStrokeColor
              div.form-group#propObjectGroup
                label Icon
                select.image-picker#propIcon
                  each icon in icons
                    option(data-img-src="images/icons/" + icon, data-img-class="first", value=icon) icon
                  each shape in shapes
                    option(data-img-src="images/shapes/" + shape, data-img-class="first", value=shape) shape
              div.form-group#moveObject
                  button.propButton.btn.btn-default(type='button' onclick="moveUp()") Up
                  button.propButton.btn.btn-default(type='button' onclick="moveDown()") Down
                  button.propButton.btn.btn-default(type='button' onclick="moveToFront()") Front
                  button.propButton.btn.btn-default(type='button' onclick="moveToBack()") Back
              div.form-group#makeObject
                  button.propButton.btn.btn-primary#insertObjectButton(type='button' onclick="insertObject()") Insert
                  button.propButton.btn.btn-info#editDetailsButton(type='button' onclick="editDetails()") Details
                  button.propButton.btn.btn-danger#deleteObjectButton(type='button' onclick="deleteObject()") Delete
                  button.btn.btn-default(type='button' onclick="closeToolbar()") Cancel
      div.jumbotron
        div#sliderContainer
          button#play(onclick='toggleAnimateSlider()') >
          div#slider
        div#events
        span(style='margin-right: 10px;')
          button.btn.btn-primary#downloadEvents(onclick='downloadEvents()') Download Events
        span
          button.btn.btn-primary#downloadEvents(onclick='downloadDiagram()') Download Diagram
  script(src='js/jquery.js')
  script(src='js/jsgrid.min.js')
  script(src='js/bootstrap.min.js')
  script(src='js/image-picker.min.js')
  script(src='js/fabric.min.js')
  script(src='js/jquery-ui.min.js')
  script(src='js/jquery-ui-timepicker-addon.min.js')
  script(src='js/nouislider.min.js')
  script(src='js/sharedbclient.js')
  script(src='js/jstree.min.js')
  script(src='js/files.js')
  script(src='js/bootbox.min.js')
  script(src='js/cop.js')
