html
  head
    title= title
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/style.css')
  body
    div.container
      include nav.pug
      div.wrapper
        form(method='post' action='login').form-signin
          h2.form-signin-heading CS-COP Login
          if (message)
            div.alert.alert-danger.alert-error= message
          input(type='text' name='username' placeholder='Username').form-control
          input(type='password' name='password' placeholder='Password').form-control
          button.btn.btn-lg.btn-login.btn-block(type='submit') Login
script(src='js/jquery.js')
script(src='js/bootstrap.min.js')
