body {
    background-color: darkgray;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
    margin-top: 10px
}

canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.jsgrid-header-cell, .jsgrid-cell {
    padding: 3px;
}

.navbar-nav > li > a {
    padding-top:5px !important; padding-bottom:5px !important;
}

.navbar {
    margin-bottom: 0px;
    min-height:32px !important
}

#slider {
    margin: 10px;
}

.canvas-container {
    width: 100% !important;
    height: 100% !important;;
    position: absolute !important;;
    left: 0px !important;
    top: 0px !important;
}

.modal-header {
    background-color: darkgray;
}

.modal-content {
    background-color: lightgray;
}

.modal-footer {
    background-color: darkgray;
}

.login-logo {
    display: block;
    margin: auto;
    width: 300px;
}

.object-details {
    width: 100%;
    height: 600px;
    font-family: courier;
}

.modal-dialog {
    width: 800px;
}

.container .jumbotron {
    border-radius: 0px;
    padding: 10px;
    overflow: hidden;
    border: 1px solid black;
    margin-bottom: 10px;
}

.sidebar {
    border-collapse: collapse;
    display: table;
    position: absolute;
    right: 0px;
    top: 0px;
}

.highlight td {
    background-color: lightblue !important;
}

.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-signin {
    max-width: 400px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: lightgray;
    border: 1px solid rgba(0,0,0,0.1);
    .form-signin-heading {
        margin-bottom: 30px;
    }
}

.form-control {
    position: relative;
    font-size: 14px;
    height: auto;
    padding: 6px;
    @include box-sizing(border-box);

    &:focus {
        z-index: 2;
    }
}

#zoom-buttons {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

#newObjectButton {
    position: absolute;
    top: 10px;
    right: 5px;
}

.btn-login {
    background-color: #080808;
    color: white;
}

input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.propButton {
    margin-right: 10px;
}

#propObjectGroup {
    height:200px;
    overflow: scroll;
    overflow-x: hidden;
}

.cancelLink {
    position: relative;
    left: 6px;
    bottom: 30px;
    display: none;
}

.zoomIn {
    position: relative;
    left: 0px;
    bottom: 0px;
    margin-right: 3px;
}

.zoomOut {
    position: relative;
    left: 0px;
    bottom: 0px;
    margin-right: 3px;
}

.message {
    position: absolute;
    left: 12px;
    top: 4px;
};

.propTitle {
    font-size: 20px;
    font-weight: bold;
}

.propColor {
    display: inline;
    height: 40px;
    width: 40px;
    margin-right: 5px;
}

.container {
    width: 100%;
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar {
    border-radius: 0px;
}

.hide {
    display: none;
}

.canvas {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
}

.diagram_jumbotron {
    padding: 0px !important;
}

.nav-button {
    background-color: darkgray;
    margin-top: 4px;
    border-radius: 4px 0px 0px 4px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}

.center-text {
    text-align: center;
}

.properties-nav {
    width: 40px;
    position: absolute;
    left: -40px;
    top: 0px;
}

.properties {
    width: 310px;
    height: 600px;
    float: right;
    padding: 10px;
    display: none;
    border-radius: 0px 0px 0px 4px;
    border-left: 1px black solid;
    border-bottom: 1px black solid;
    background-color: lightgray;
}

.thumbnail {
    margin-bottom: 2px;
    width: 48px;
    height: 48px;
}

.thumbnails.image_picker_selector img {
    width: 46px;
    height: 42px;
}

table {
    font-size: 12px;
}
